* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green-100: #e8fccf;
  --green-150: #f0fce0;
  --green-250: #96e072;
  --green-500: #3da35d;
  --green-750: #3e8914;
  --green-900: #134611;

}

.light {
  --bg: #e8fccf;
  --bg-secondary: #f0fce0;
  --bg-btn: #3da35d;
  --bg-header: #3e8914;

  --logo: #96e072;

  --link: #3e8914;
  --text-strong: #134611;
  --text: #444;
  --placeholder: #929292;
}

.dark {
  --bg: #141414;
  --bg-secondary: #292929;
  --bg-btn: #134611;
  --bg-header: #0a0a0a;

  --logo: #96e072;

  --link: #f0fce0;
  --text-strong: #96e072;
  --text: #929292;
  --placeholder: #929292;
}


html {
  /* cada 1rem será considerado 10px */
  font-size: 62.5%;
}


body {
  font: 1.6rem 'Poppins', sans-serif;
}

.App {
  background: var(--bg);
  color: var(--text);
}

@media (max-width: 1024px) {
  html {
      font-size: 50%;
  }
}