* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green-100: #e8fccf;
  --green-150: #f0fce0;
  --green-250: #96e072;
  --green-500: #3da35d;
  --green-750: #3e8914;
  --green-900: #134611;

}

html {
  /* cada 1rem será considerado 10px */
  font-size: 62.5%;
}


body {
  font: 1.6rem 'Poppins', sans-serif;
  color: #121214;
  background: var(--green-100);
}

@media (max-width: 1024px) {
  html {
      font-size: 50%;
  }
}